doctype html(lang='en')
head
    meta(charset='UTF-8') 
    meta(name='viewport', content='width=device-width, initial-scale=1.0') 
    meta(http-equiv='X-UA-Compatible', content='ie=edge') 
    link(rel="shortcut icon", href="assets/img/favicon.ico", type="image/x-icon")
    link(rel="icon", href="assets/img/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='assets/css/main.css?rev=@@hash')
    title Site title
block body
    body
        block content
        script(src='assets/js/main.js?rev=@@hash', charset='utf-8')
